

.button4 {
    position: relative;
    background-color: #ffffff;
    color: #be8abf;
    border-color: #be8abf;
    border-style: solid;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 12px;
}

.button4:hover{
    background-color: #be8abf;
    color: #fff;
    transition: background-color 0.5s ease;
}

