{
    box-sizing: border-box;
    font-family: sans-serif; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background-color:#ffffff;
    color: #be8abf;
    padding: 2rem;
}

header .right-side {
    display: flex;
}

header .right-side .nav-link-wrapper a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #be8abf;
}

.div-1{
    background-color:#be8abf;
    color: white;
}

.div-2 {
    background-color: #ea9abb;
    color: white;
}

.div-3 {
    background-color: #fea5ad;
    color: white;
}

.div-4 {
    background-color: #f8c3af;
    color: white;
}