{
    box-sizing: border-box;
    font-family: sans-serif; 
}

header {
    background-color:#ffffff;
    color: #be8abf;
    padding: 2rem;
}

header .right-side {
    display: flex;
}

header .right-side .nav-link-wrapper a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #be8abf;
}

.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}