:root {
    --primary_color: #033f5f;
    --seconday_color: #007CBC;
    --highlight_color: #F5BA36;
    --neutral_grey: #747e83;
    --neutral_light: #fff;
}

.yellow {
    background-color: var(--highlight_color);
}
.blue {
    background-color: var(--primary_color);
}
.white_text{
    color: white;
}
.center {
    text-align: center;
}
.callout {
    padding: 3rem 0 2rem 0;
}

.work img {
    padding: .5rem;
    border: black 5px solid;
    border-radius: 1rem;
}
.work {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 0 auto; 
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

h1 {
    color: var(--primary_color);
}
h2 {
    color: var(--primary_color);
}
h3 {
    color: var(--neutral_grey);
}
p {
    color: var(--neutral_grey);
    line-height: 2rem;
}
img {
    max-width: 100%; /* This makes all your images responsive */
}



/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
nav li {
    flex-grow: 1;
}
nav li a:link, 
nav li a:visited {
    color: var(--neutral_light);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2rem 1rem;
    transition: background-color .2s ease-in-out;
}
nav li a:hover {
    background-color: var(--highlight_color);
}




.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    width: min(95%, 75rem);
}

.container_lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
}
.container > *, 
.container_lg > * {
    grid-column: span 12;
}

.spacing {
    margin: 4rem 0;
}

/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {


    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-7 {
        grid-column: span 7;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-9 {
        grid-column: span 9;
    }
    .col-span-10 {
        grid-column: span 10;
    }
    .card_col-span-3 {
        grid-column: 9 / span 3;
        background-color: red;
    }
    
    

} /* Closes the media query */