* {
    box-sizing: border-box;
    font-family: sans-serif; 
}

    body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/paisley.png");
    }
    
    header {
        background-color:#f9ccca;
        color: white;
        padding: 2rem;
    }

    h1 {
    font-size: 2rem;
    }
    h2 {
    font-size: 1.5rem;
    }
    h3 {
    font-size: 1.25rem;
    }
    img {
        max-width: 100%;
        }
    .circle {
        border-radius: 50%;
        border: 5px solid #f9ccca;
    }
    a:link, a:visited {
    color: #f9ccca;
    text-decoration: none;
    }
    a:hover {
        color: #f9ccca;
        text-decoration: underline;
        }

    /********* Layout *******/

    .container {
        background-color: white;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(12,1fr);
        margin: 0 auto;
        width: min(95%, 75rem);
    }

    .container > * {
        grid-column: span 12;
    }


/********* Navigation Using Flexbox *******/
nav {
    background-color: #dedede;
    padding: 0 1rem;
    display: flex; 
    justify-content: center;
    position: sticky; 
    top: 0; 
}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
    display: flex; 
    flex-flow: row wrap;
}

nav li {
    margin: 0 0.5rem;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem;
    display: block;
    transition: ease-in-out 250ms;
}

nav a:hover {
    background-color: #f4a09c;
    color: white;

}

   /********* Components *******/
    .button:link, .button:visited {
        color: white;
        background-color: #f9ccca;
        text-align: center;
        text-decoration: none;
        padding: 1rem 1.75rem;
        border-radius: .5rem;
        box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
        display: inline-block; 
        margin: 0 .25rem .25rem 0;
        transition: background-color 0.5s ease;
}
    .button:hover {
        background-color: #f4a09c;
}

.card {
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15)
}
.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}

.card-text {
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
}

/* Desktop Layout */
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
     }
     .card {
        flex-basis: 27.5%
     }

}